body{
    font-family: Arial;
    display:flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #e1f3f8;
}
.container{
    background: rgb(179, 225, 240);
    padding: 20px;
    width:350px;
    height: auto;
    box-shadow: 0 0 10px #1f7ad5;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: #034f84;
    font-size: 40px;
}
input{
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #eaeff4;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2790db;
    color: white;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
li{
    padding: 10px;
    border-bottom: 1px solid #98c1ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completed {
    text-decoration: line-through;
    color: grey;
}
.deleteBtn {
    background-color: #072e4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
